{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid h-40 bg-index mb-5">
    <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col">
            <img src="/static/img/Ping!.png" class="img-fluid my-auto"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for post in posts %}
            <div class="col-12 col-sm-6 col-lg-4 text-center">
                <a href="{{ post.link }}" target="__blank">
                    <img src="media/{{ post.img }}" class="post-img img-fluid">
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}